* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 800vh;
  font-family: "PP Neue Montreal";
  /* overflow: hidden; */
  /* scroll-behavior: smooth; */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  font-family: "FK Screamer";
  font-weight: lighter;
  font-size: 64px;
  line-height: 1;
}

h1 span {
  color: #ff6b00;
}

p {
  font-size: 14px;
  font-weight: 500;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.hero h1,
.outro h1 {
  text-align: center;
  font-size: 80px;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
}

canvas.outline-layer {
  z-index: 1;
  /* margin-left: 25%; */
}

canvas.fill-layer {
  z-index: 10;
  /* margin-left: 45%; */
}

.outro {
  background-color: #ff6b00;
}

.outro h1 {
  color: #fff;
}

.outro h1 span {
  color: #000;
}

.cards {
  postion: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  will-change: transform;
  z-index: 2;
}

.card {
  position: relative;
  width: 10%;
  height: 75%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
}

.card-img,
.card-title {
  flex: 1;
  overflow: hidden;
}

.card-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@media (max-width: 900px) {
  .card {
    width: 100%;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em;
  display: flex;
  gap: 2em;
  z-index: 100;
}

.nav-logo {
  flex: 1 1 100%;
  text-align: center;
}

.nav-link .nav-icon {
  display: none;
  /* color: #fff; */
}
.nav-link .nav-text {
  display: inline;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.nav > * {
  flex: 1;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-logo a {
  font-family: "Druk", sans-serif;
  font-size: 1.75rem;
  font-weight: bolder;
  font-style: italic;
  line-height: 0.9;
  color: #fff;
  text-decoration: none;
}

/* On small screens, show icons, hide text */
@media (max-width: 600px) {
  
  .nav-link .nav-text {
    display: none;
  }
  .nav-link .nav-icon {
    display: inline-block;
    vertical-align: middle;
  }
  .links {
    justify-content: center;
    gap: 1.5em;
  }
  .nav-logo {
    flex: 1 1 100%;
    text-align: center;
    /* color:#fff */
  }
  nav {
    gap: 0;
  }
 
}
